/*This is the style sheet for the Smiling Economist*/

/*Head area of page adjustments*/
 .site-header {
 display: block;
 align-items: center;
 padding: 1rem 2rem;
 border-bottom: 1px solid #ddd;
 }

.site-header nav{
display: inline-block;
gap: 12px;
padding: 6px 10px;
border: 1px solid #ccc;
}

.site-header a{
text-decoration: none;
color: #222;
}


.site-header a.active {
font-weight: bold;
border-bottom: 2px solid #222;
}


/* Site-title adjustments*/
.site-title a{
text-decoration: none;
color: inherit;
}

/*site footer adjustments*/
.footer-sections {
  display: flex;       /* inline row layout */
  flex-wrap: wrap;     /* wraps if screen is too small */
  gap: 12px;           /* space between items */
  align-items: center; /* vertical alignment */
}

.footer-sections span,
.footer-sections a {
  display: inline-block;       /* makes spacing & padding work */
  padding: 6px 10px;           /* optional box padding */
  border: 1px solid #ccc;      /* optional box outline */
  background-color: #f8f8f8;   /* optional box color */
  text-decoration: none;       /* removes link underline */
  color: #222;
}
